{% extends 'index.html' %}

{% block head %} 

{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6"><br>
      <div class="card">
        <div class="card-header">Register Movie</div>
          <div class="card-body">
            <form  action='/register' method='POST'>
              <div class="form-group col-sm-15">
                <label for="movie">Movie name</label>
                <input class="form-control" type="text" id="movie" name="movie">
              </div>
              <div class="form-group col-sm-15">
                <label for="director">Director</label>
                <input class="form-control" type="text" id="director" name="director">
              </div>
              <div class="form-group col-sm-15">
                <label for="synopsis">Synopsis</label>
                <textarea class="form-control" id="synopsis" name="synopsis" rows="6"></textarea>
              </div>
              <div>
                {% if messege %}
                <h5 style="color:blue;">{{ messege }}</h5>
                {% endif %}
              </div><br>

              <input type='submit' class="btn btn-primary" value='Submit'>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}