<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block head %} 
    {% endblock %}

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
         <ul class="nav">
            <li class="nav-item">
            <a style="color:white;" class="nav-link active" href="{{ url_for('home') }}"><h5>Movies App</h5></a>
            </li>
            <li class="nav-item">
            <a style="color:white;" class="nav-link active" href="{{ url_for('posts') }}">All Movies</a>
            </li>
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
    <nav class="fixed-bottom" style="background-color:#d3d3d3;text-align: center;">
        <p >Movie App</p>
    </nav>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% block script %}
    {% endblock%}
</body>
</html>
