<table class="table" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th >Movie</th>
                <th>Director</th>
                <th class="w-50" >Synopsis</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table-bordered">
            {% for post in allposts %}
            <tr> 
                <td>{{ post.title }}</td>
                <td>{{ post.director }}</td>
                <td>{{ post.synopsis }}</td>
                <td><button type="button" class="btn btn-success"><a style="color:white;" href="/posts/edit/{{ post.id }}">Edit</a></button></td>
                <td><button type="button" class="btn btn-danger"><a style="color:white;" href="/posts/delete/{{ post.id }}">Delete</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 