 {% extends 'index.html' %}

{% block head %} 

{% endblock %}

{% block body %}<br>
<div class="container">
   <div class="row justify-content-center mb-3">
          <div class="col-12 col-md-2 text-right">
              <label>Search Donor</label>
          </div>
           <div class="col-12 col-md-4">
             <input type="text" class="form-control" id="search" name="search">
          </div>
          <div class="col-12 col-md-3 text-left">
            <button class="btn  btn-primary" name="submit" onclick="searchdata(event)">SEARCH</button>
          </div>
        </div>
    <table class="table" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th >Movie</th>
                <th>Director</th>
                <th class="w-50" >Synopsis</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="movieTable" class="table-bordered">
            {% for post in allposts %}
            <tr> 
                <td>{{ post.title }}</td>
                <td>{{ post.director }}</td>
                <td>{{ post.synopsis }}</td>
                <td><button type="button" class="btn btn-success"><a style="color:white;" href="/posts/edit/{{ post.id }}">Edit</a></button></td>
                <td><button type="button" class="btn btn-danger"><a style="color:white;" href="/posts/delete/{{ post.id }}">Delete</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
   
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#movieTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}